
/*menu*/
.menu {
    margin: 0.2em 0;
    display: block;
    width: 100%;
    -webkit-transition: margin 600ms;
    transition: margin 600ms;
    cursor: pointer;

    .bar {
    display: block;
    height: 0.2em;
    margin: 0.6em;
    border-right: 2.8em solid #fff;
    box-sizing: border-box;
    -webkit-transition-property: -webkit-transform, margin, border-right-color, box-shadow;
    -webkit-transition-property: margin, border-right-color, box-shadow, -webkit-transform;
    transition-property: margin, border-right-color, box-shadow, -webkit-transform;
    transition-property: transform, margin, border-right-color, box-shadow;
    transition-property: transform, margin, border-right-color, box-shadow, -webkit-transform;
    -webkit-transition-duration: 600ms;
    transition-duration: 600ms;
}
    .bar:nth-of-type(1) {
        -webkit-transition: opacity 300ms;
        transition: opacity 300ms;
    }
}
    // .menu .bar:nth-of-type(2) {
    //     -webkit-transform: rotate(-360deg);
    //     transform: rotate(-360deg);
    // }

 .pushed{
     margin: -0.8em 0;
    .bar:nth-of-type(1) {
        opacity: 0;
    }
   .bar:nth-of-type(2) {
        margin-left: 1.8em;
        -webkit-transform: rotate(-137deg) translateY(-1.5em);
        transform: rotate(-137deg) translateY(-1.5em);
    }
    .bar:nth-of-type(3) {
        margin-top: 0.95em;
        -webkit-transform: rotate(-42deg);
        transform: rotate(-42deg);
    }
}

#list-animation{
    li{
        padding: 1.5% 0;
        height: auto;
        visibility: visible;
        opacity: 1;
        transition-property: all;
        transition-duration: 600ms;
    }
    li:last-of-type{
        margin: 1.5% 3% 0 0;
    }
   
}
