
.content-presentations{
	@extend .content;
	-webkit-box-orient: horizontal !important;
	-webkit-box-direction: normal !important;
	    -ms-flex-direction: row !important;
	        flex-direction: row !important;
			-ms-flex-wrap: wrap;
			    flex-wrap: wrap;
	        -ms-flex-pack: distribute !important;
	            justify-content: space-around !important;
	            background-color: #f9f9f9;
	             .tag-group{
	            		margin:0;
					    text-align: center;
					    background-color: #fff;
					    border-bottom: 3px solid rgba(177, 191, 191, 0.3);
					    font-size: 1.2em;
	            }
	           
	.present{
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 48%;
		        flex: 1 1 48%;
		min-height: 400px;
		max-height: 960px;
		text-align: center;
		&:nth-child(odd){
			margin: 10px 10px 0 5px;
		}
		&:nth-child(even){
			margin: 10px 5px 0 10px;
		}
		iframe{
			       width: 90%;
				    min-height: 400px;
				    max-height: 960px;
		}
		p{
			    text-align: center;
			    color: #3f4a4a;
			    font-family: Palatino, "Palatino Linotype", "Palatino LT STD";
			    font-size: 1.3em;
			    line-height: 2;
			    margin: 0;
			    width: 100%;
			    padding: 0;
			    letter-spacing: 2;
					@include media(940){
						font-size: 1.6em;
						line-height: 1.9;
						text-indent: 0;
						}
					}

			}
		}