.blocks_2{
	h2{
		@extend %caption;
		font-size: 1.5em;
	}
	.authors{
		@extend %under-text-small;
		float: right;
	}
	.read-more{
		a{
			border: 1px solid black;
			padding: 3px 2%;
			text-decoration: none;
			color: $blueberry; 
			font-family: $palatino; 
			font-weight: 400; 
			font-style: italic; 
			&:hover{
				background-color: hsla((hue(lighten($blueberry, 2%))-30), 10%, 75%, 50);
			}
		}
	}
	.tag-in-h{
		text-indent: 0;
		text-decoration: underline;
		display: inline-block;
		font-size: 0.5em;
		font-style: normal;
		letter-spacing: 0;
		color: $blueberry;
	}
}
.tag-group{
	margin: 0 1%;
	width: 100%;
	span{
		@extend %caption;
		font-size: 1em;
	}
	.tag {
		@extend %taggy;
		@for $i from 1 through 5{
			&:nth-child(#{$i}) {
				background-color: darken(hsl((hue($apple-core)-22*$i), 10%, 75%), 21%);
				&:after{
					border-left: 10px solid darken(hsl((hue($apple-core)-22*$i), 10%, 75%), 21%);
				}
				&:hover{
					background-color: darken(hsl((hue($apple-core)-30*$i), 10%, 90%), 25%);;
				}
				&:hover::after {
					border-left-color: darken(hsl((hue($apple-core)-30*$i), 10%, 90%), 25%);; 
				}
				
			}
		}
		
	
	}
	.tag-active{
					&:before{
					background: $blueberry !important;
				}
		}
}

%taggy{
		border-radius: 3px 0 0 3px;
		color: #333;
		display: inline-block;
		height: 26px;
		line-height: 26px;
		padding: 0 20px 0 23px;
		position: relative;
		margin: 10px 1% 1% 0;
		text-decoration: none;
			&:before {
			background: #fff;
			border-radius: 10px;
			box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
			content: '';
			height: 6px;
			left: 10px;
			position: absolute;
			width: 6px;
			top: 10px;
		}

		&:after {
			background: #fff;
			border-bottom: 13px solid transparent;
			border-top: 13px solid transparent;
			content: '';
			position: absolute;
			right: 0;
			top: 0;
		}
}
