.blocks_3{
	border-top: 3px solid rgba(lighten($apple-core, 2%), 0.3);
}
.ajax-filter-count{
  text-align: center;
  font-weight: normal;	
  width: 20%;
  @include media(760){
  	width: 100%;
  }
.ajax-more{
  padding-top: 10px;
  position: relative;
  color: inherit;
  text-decoration: none;
  font-size: 1.5em;
  color: darken($apple-core,10%);
  &:before, &:after {
    content: '';
    position: absolute;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
  }
  &:before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: $apple-core;
    -webkit-transform:  scaleX(0);
            transform:  scaleX(0);
  }
  &:hover:before {
    -webkit-transform:  scaleX(1);
            transform:  scaleX(1);
  }
}
}
.blocks_2{
	.authors-date-project{
		   display: -ms-flexbox;
		    display: -webkit-flex;
		    display: flex;
		    -webkit-flex-direction: column;
		    -ms-flex-direction: column;
		    flex-direction: column;
		    -webkit-flex-wrap: nowrap;
		    -ms-flex-wrap: nowrap;
		    flex-wrap: nowrap;
		    -webkit-justify-content: flex-start;
		    -ms-flex-pack: start;
		    justify-content: flex-start;
		    -webkit-align-content: stretch;
		    -ms-flex-line-pack: stretch;
		    align-content: stretch;
		    -webkit-align-items: flex-end;
		    -ms-flex-align: end;
		    align-items: flex-end;
		  
	h2{
		@extend %caption;
		font-size: 1.5em;
		@include media(760){
		  	font-size: 1.3em;
		  	text-align: left;
		  }
	}
	.authors{
		@extend %under-text-small;
	}
	.date-projects{
		@extend %under-text-small;
		font-size: 1em;
		margin-top: 1%;
		@include media(760){
	  	margin-top: 5%;
	  }
	}
	.tag-in-h{
		text-indent: 0;
		text-decoration: underline;
		display: inline-block;
		font-size: 0.5em;
		font-style: normal;
		letter-spacing: 0;
		color: $blueberry;
	}
}
	.read-more{
	
		a{
			@extend %button;

		}
	}
	
	
	.content-projects{
		
	    display: flex;
	    
	    flex-direction: row;
	    
	    flex-wrap: wrap;
	    
	    justify-content: flex-start;
	    
	    align-items: center;
			@include media(760){
				margin-top: 5%;
				padding-top: 5%;
  			-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	    flex-direction: column;
	    align-items: stretch;
  			}
  		.text-projects{
  			flex: 1 0 50%; 
  			display: inline-block;
  		}
		.image-projects{
			position: relative;
			display: -ms-flexbox;
		    display: -webkit-flex;
		    display: flex;
		    -webkit-flex-direction: column;
		    -ms-flex-direction: column;
		    flex-direction: column;
		    -webkit-flex-wrap: nowrap;
		    -ms-flex-wrap: nowrap;
		    flex-wrap: nowrap;
		    -webkit-justify-content: flex-start;
		    -ms-flex-pack: start;
		    justify-content: flex-start;
		    -webkit-align-content: stretch;
		    -ms-flex-line-pack: stretch;
		    align-content: stretch;
		    -webkit-align-items: center;
		    -ms-flex-align: center;
		    align-items: center;
		    padding: 0 1%;
		    @include media(760){
		    	width: 100%;
		    }
		img{
				margin-bottom: 5%;
				border: 3px solid rgba(lighten($apple-core, 2%), 0.3);
		}
		span{
			transition: all 500ms ease-out;
			display: block;
			text-indent: 0;
			background-color: rgba(115, 128, 140, 0.9);
		    color: #fff;
		    padding: 0 5%;
		    font-style: italic;
		    opacity: 0;
			position: absolute;
				}
				&:hover{
					span{
						opacity: 1;
		    			transform: translateY(-100%);
					}
				}
			}
		p{
		}
	}
}
.tag-group{
	margin: 0 1%;
	width: 100%;
	@include media(760){
		text-align: center;
		margin: 0;
		padding-top: 10px;
	}
	input[type="checkbox"]{
		display: none;
	}
	span{
		font-size: 1.5em;
		@include media(760){
			font-size: 2em;
		}
		@extend %caption;
	}
	.tag {
		@extend %taggy;
					-webkit-transition: all .2s;
					transition: all .2s;
		@for $i from 1 through 9{
			&:nth-child(#{$i}) {
				background-color: darken(hsl((hue($apple-core)-22*$i), 10%, 75%), 21%);
				&:after{
								-webkit-transition: all .2s;
					transition: all .2s;
					border-left: 10px solid darken(hsl((hue($apple-core)-22*$i), 10%, 75%), 21%);
				}
				&:hover{
					background-color: darken(hsl((hue($apple-core)-30*$i), 10%, 90%), 25%);
				}
				&:hover::after {
					border-left-color: darken(hsl((hue($apple-core)-30*$i), 10%, 90%), 25%);
				}		
			}
		}
		@include media(760){
			width: 70%;
			margin: 1% 1% 10px 0;
		}
	}
	.tag-active{
		&:before{
					background: $blueberry !important;
				}
		}
		button{
						-webkit-transition: all .2s;
					transition: all .2s;
				-webkit-font-smoothing: antialiased;
				position: relative;
				color: #fff;
				line-height: 1em;
				font-size: 1em;
				font-family: $myriad;
				display: inline-block;
				height: 26px;
				padding: 0 20px 0 23px;
				padding-right: 4.7em;
				background-color: darken(hsl((hue($apple-core)-30*11), 10%, 75%), 25%);
				border: none;
				-webkit-transition: .2s;
				transition: .2s;
				@include media(760){
						width: 100%;
						margin-top: 10px;
						height: 50px;
						font-size: 1.2em;
						float: left;
					}
				&:before,
				&:after {
					position: absolute;
					top: 0;
					bottom: 0;
					right: 0;
					padding-top: inherit;
					padding-bottom: inherit;
					width: 1.5em;
					content: "\2191";
					line-height: 1em;
					font-size: 1.5em;
					text-align: center;
					-webkit-transition: .2s;
					transition: .2s;
					-webkit-transform-origin: 50% 60%;
					        transform-origin: 50% 60%;
					        	@include media(760) {
								line-height: 50px;
							}
				}
				&:before {
					background-color: darken(hsl((hue($apple-core)-30*11), 10%, 75%), 25%);
				}
				&:focus {outline:0 !important;}
				&:active{
					-webkit-transition: all .2s;
					transition: all .2s;
				}
				&:hover {
					background-color: darken(hsl((hue($apple-core)-30*11), 10%, 75%), 20%);
					-webkit-transition: all .2s;
					transition: all .2s;
					&:after {
					background-color: darken(hsl((hue($apple-core)-30*11), 10%, 75%), 20%);
					}

				}
				
			&.active{
				background-color: darken(hsl((hue($apple-core)-30*11), 10%, 75%), 28%);
					
				&:focus {outline:0 !important;}
				&:before,
				&:after {
					background-color: darken(hsl((hue($apple-core)-30*11), 10%, 75%), 28%);
					content: "\2193";
				}
				&:active{
					-webkit-transition: all .2s;
					transition: all .2s;
				}
				&:hover {
					background-color: darken(hsl((hue($apple-core)-30*11), 10%, 75%), 20%);
					-webkit-transition: all .2s;
					transition: all .2s;
					&:after {
					background-color: darken(hsl((hue($apple-core)-30*11), 10%, 75%), 20%);
					}
				}
			}
		}
}

%taggy{
		border-radius: 3px 0 0 3px;
		color: #333;
		display: inline-block;
		height: 26px;
		line-height: 26px;
		padding: 0 20px 0 23px;
		position: relative;
		margin: 10px 1% 1% 0;
		text-decoration: none;
		outline: none;
			&:before {
			background: #fff;
			border-radius: 10px;
			box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
			content: '';
			height: 6px;
			left: 10px;
			position: absolute;
			width: 6px;
			top: 10px;
		}

		&:after {
			background: #fff;
			border-bottom: 13px solid transparent;
			border-top: 13px solid transparent;
			content: '';
			position: absolute;
			right: 0;
			top: 0;
		}
		@include media(760){
			height: 50px;
			line-height: 50px;
			font-size: 18px;
			&:before {
			border-radius: 10px;
			height: 16px;
			left: 10px;
			width: 16px;
			top: 15.5px;
		}
			&:after {
			background: #fff;
			border-bottom: 25px solid transparent;
			border-top: 25px solid transparent;
			}
		}
}
%button{
		-webkit-transition: all .2s;
		transition: all .2s;
		border: 1px solid black;
			padding: 3px 2%;
			text-decoration: none;
			color: $blueberry; 
			font-family: $palatino; 
			font-weight: 400; 
			font-style: italic; 
			&:hover{
				background-color: hsla((hue(lighten($blueberry, 2%))-30), 10%, 75%, 50);
			}
			@include media(760){
				font-size: 1.5em;
				padding: 3px 10%;
			}
}