.line, .line-albums:not(:first-of-type){
	border: 1px solid darken($apple-core, 10%);
	padding: 0.1%;
	margin: 0;
	background: darken(hsl((hue($apple-core)-20), 10%, 80%), 10%);
}
.pagination{
	    -ms-grid-row-align: center;
	    -ms-flex-item-align: center;
	        align-self: center;
	margin: 5px 0 20px 0;
	a{
	text-decoration: none;
	margin: 0;
	display:inline-block;
	cursor:pointer;
	color: darken($apple-core, 60%);
	border: 1px solid darken($apple-core, 10%);
	padding:6px 13px;
	text-indent: 0;
	text-decoration:none;
	@include media(760){
			padding:6px 18px;
		}
	&.active{
		background:rgba($apple-core, 35);
	}
&:hover {
	background:rgba($apple-core, 30);
}

&:active {
	position:relative;
	top:1px;
	}
}
	}
.occupation, .gallery{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	width: 100%;
	border-bottom: 2px solid darken(hsl((hue($apple-core)-20), 15%, 85%), 10%);
	@include media(760){
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
			border-bottom: none;
		}
	.left-occupation, .left-gallery{
		font-style: italic;
		font-family: $opensans;
		font-size: 1.3em;
		color: darken($apple-core, 30%);
		-ms-flex-preferred-size:30%;
		    flex-basis:30%;
		border-right: 1px solid darken($apple-core, 10%);
		@include media(760){
		border-right: none;
	}
		p{
		@include media(760){
			font-size: 1.4em;
			margin: 0;
			padding: 0;
			}
		}
	}
	.right-occupation, .right-gallery{
		-ms-flex-preferred-size:70%;
		    flex-basis:70%;
		font-family: $opensans;
		font-size: 1.1em;
		.college{
			margin-bottom: 0;
			padding-bottom: 0;
		}
		.date{
			@extend %under-text-small;
		}
		.college-info{
			font-size: 0.8em;
			font-style: italic;
				&:not(:last-child){
				border-bottom: 1px dashed darken($apple-core, 5%);
				}
				&:last-child{
			@include media(760){
					border-bottom: 1px dashed darken($apple-core, 5%);
				}
			}
		}
	}
	.left-gallery{
		-ms-flex-preferred-size:10%;
		    flex-basis:10%;
		    text-indent: 0;
		    p{
		    	@include media(760){
					text-align: center;
				}
		    }
	}
	.right-gallery{
		-ms-flex-preferred-size: 90%;
		    flex-basis: 90%;
		text-indent: 0;
		padding: 2% 0 1% 1%;
		a{
			text-decoration: none;
		}
		.imageGrid{
			@include media(760){
					text-align: center;
				}
		}
			.img-layout{
			    border: 1px solid #e0e4e8;
			    width: auto;
			    margin: 2px 0 2px 0;
			    padding: 0.5%;
			    height: 100%;
			    display: inline-block;
			    -webkit-transition: all 0.15s ease-in-out;
			    transition: all 0.15s ease-in-out;
			&:hover{
				    background-color: #cbd2d2;
    				border: 1px solid #d6dde4;
				}
			}
		}
	}
.gallery{
	border-bottom: none;
}

