
@import "./font/sass/variables";
@import "./font/sass/mixins";
@import "./font/sass/Regular";



$sans-font: 'Open Sans';
$text:#333;
$navy-blue:#263237;
$newy:#87B6A7;
$blueberry:#6b7a8f;
$apple-core:#dcc7aa;
 @import "_slider.scss";
body{
	width:100%;
	font-family: "MyriadPro";
	background-color: lighten($apple-core, 20% );
	margin:0;
	position:absolute;
	line-height: 1.2;
}

.container{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
-webkit-box-pack: start;
    -ms-flex-pack: start;
        justify-content: flex-start;
-webkit-box-align: start;
    -ms-flex-align: start;
        align-items: flex-start;
}

nav{
position: relative;
left:0;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-box-pack: start;
    -ms-flex-pack: start;
        justify-content: flex-start;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
height: 100vh;
width:15vw;
text-align: center;
	ul.navigation-list{
		display: inline-block;
		text-align: center;
		padding:0;
		position: fixed; 
		background-color: lighten($apple-core, 20% );
		 /* для медиа-ссылок &:after{*/
			/* 	height: 80%;*/
			/* 	width: 80%;*/
			/* 	margin-left: 10%;*/
			/* 	display: block;*/
			/* 	content: url('img/dsmm.svg');*/
			/* 	-webkit-box-flex: 0;*/
			/* 	    -ms-flex: 0 1 auto;*/
			/* 	        flex: 0 1 auto;*/
			/* }*/
			iframe#logo{
				height: 6vh;
				width: 40%;
				margin:0.5% 0 -3vh 0;
				padding:0;
				-webkit-box-flex: 0;
				    -ms-flex: 0 2 auto;
			 	        flex: 0 2 auto;
			}
		li{
			list-style-type: none;
			margin: 15% 0;
			a{
				text-decoration: none;
				color: $text;
				line-height: 1.5;
				font-weight: lighter;
				font-size: 1em;
				&:hover{
				cursor:pointer;
				color:$blueberry;
				-webkit-transition-property: all;
				transition-property: all;
				-webkit-transition-duration: 0.5s;
				        transition-duration: 0.5s;
				-webkit-transition-timing-function: ease-out;
				        transition-timing-function: ease-out;
				}
			}
		}
	}
}
article.main{
background-color:lighten($apple-core, 8%);
position: relative;
width:85vw;
}
.header{
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD";
	width:85vw;
	padding: 0.5% 0 0.5% 0;
	text-align: center;;
	font-size: 1.5em;
	color: darken($blueberry, 15%);
	background-color: lighten($apple-core,17%);
	span{
		font-size: 1.05em;
	}
}
.content{
	margin: 0;
	padding: 0;
	font-family: 'MyriadPro';
    font-size: 1em;
    line-height: 2.1;
    font-weight: lighter;
	h1{
		margin-top:0;
		padding-top: 1%;
		text-align: left;
		font-weight: lighter;
		font-size: 1.2em;
		line-height: 1;
		margin-right: 2%;
		letter-spacing: 0.2em;
		text-decoration: underline;
	}
}
.logo_evo{
	width:40%;
	height:40%;
	float: left;
	background-color: lighten($apple-core, 12%);
}
.cat:hover{
	width: 150%;
	height: 150%;
}
