@charset "UTF-8";
@font-face {
  font-family: 'Open Sans';
  src: url("./font/fonts/OpenSans-Regular.eot");
  src: url("./font/fonts/OpenSans-Regular.eot") format("embedded-opentype"), url("./font/fonts/OpenSans-Regular.woff") format("woff"), url("./font/fonts/OpenSans-Regular.ttf") format("truetype"), url("./font/fonts/OpenSans-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'MyriadPro';
  src: url("./font/fonts/MyriadPro-Regular.eot");
  src: url("./font/fonts/MyriadPro-Regular.eot") format("embedded-opentype"), url("./font/fonts/MyriadPro-Regular.woff") format("woff"), url("./font/fonts/MyriadPro-Regular.ttf") format("truetype"), url("./font/fonts/MyriadPro-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Palatino';
  src: url("./font/fonts/PalatinoRoman-Light.eot");
  src: url("./font/fonts/PalatinoRoman-Light.eot") format("embedded-opentype"), url("./font/fonts/PalatinoRoman-Light.woff") format("woff"), url("./font/fonts/PalatinoRoman-Light.ttf") format("truetype"), url("./font/fonts/PalatinoRoman-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
.animation-li {
  /* opacity: */ }

/* $blueberry:#AD5D4E;*/
/* $apple-core:#98B7B2;*/
/* $apple-core:#E5D4C0;*/
/* $apple-core:#52796F;*/
/* $apple-core:#F2E4CB;*/
/* $apple-core:#F4F8FC;*/
body {
  width: 100%;
  font-family: "MyriadPro";
  background-color: #819898;
  margin: 0;
  position: absolute;
  line-height: 1.2; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  @media screen and (max-width: 760px) {
    .container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      overflow: hidden; } }

nav {
  -ms-flex-preferred-size: 15vw;
  flex-basis: 15vw;
  position: relative;
  /* @include media(760){*/
  /* 	-ms-flex-preferred-size: 100vw;*/
  /* 	    flex-basis: 100vw;*/
  /* }*/ }
  nav div.menu {
    display: none;
    /* background: url('img/menu-icon-15.png');*/
    /* background-size:cover;*/
    z-index: 50;
    position: absolute; }
    @media screen and (max-width: 760px) {
      nav div.menu {
        display: block;
        width: 9vh;
        height: 9vh; } }
  @media screen and (min-width: 1800px) {
    nav {
      -ms-flex-preferred-size: 12vw;
      flex-basis: 12vw; } }
  nav .nav-fixed {
    padding: 0;
    top: 0;
    width: 15vw;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    position: fixed;
    background-color: #819890; }
    @media screen and (min-width: 1800px) {
      nav .nav-fixed {
        width: 12vw; } }
    @media screen and (max-width: 760px) {
      nav .nav-fixed {
        position: relative;
        width: 100vw; } }
    nav .nav-fixed ul.navigation-list {
      padding: 0;
      margin: 0 auto;
      text-align: center;
      min-height: 54.89px;
      /* .active{*/
      /* 	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);*/
      /* 		// background: darken($apple-core, 35%);*/
      /* 		background-color: rgba(darken($apple-core, 5%), 0.6);*/
      /* 		a{*/
      /* 			color: lighten($apple-core, 65%);*/
      /* 		}*/
      /* 	}*/ }
      nav .nav-fixed ul.navigation-list #sdmm {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0;
        padding: 0; }
        nav .nav-fixed ul.navigation-list #sdmm svg {
          height: 9vh;
          min-height: 53.91px;
          width: 70%; }
          @media screen and (max-width: 940px) {
            nav .nav-fixed ul.navigation-list #sdmm svg {
              width: 100%; } }
        nav .nav-fixed ul.navigation-list #sdmm #stS, nav .nav-fixed ul.navigation-list #sdmm #stD, nav .nav-fixed ul.navigation-list #sdmm #stM {
          stroke-width: 1.7; }
      nav .nav-fixed ul.navigation-list li {
        list-style-type: none;
        margin: 0;
        padding: 7% 0; }
        @media screen and (max-width: 760px) {
          nav .nav-fixed ul.navigation-list li {
            padding: 0 0;
            height: 0px;
            visibility: hidden;
            opacity: 0;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 600ms;
            transition-duration: 600ms; } }
        nav .nav-fixed ul.navigation-list li:nth-child(1) {
          background-color: #7e958d; }
          nav .nav-fixed ul.navigation-list li:nth-child(1):hover:not(:last-of-type) {
            background-color: #84a498; }
          nav .nav-fixed ul.navigation-list li:nth-child(1).active {
            background-color: #7ea093; }
        nav .nav-fixed ul.navigation-list li:nth-child(2) {
          background-color: #7e9584; }
          nav .nav-fixed ul.navigation-list li:nth-child(2):hover:not(:last-of-type) {
            background-color: #84a48c; }
          nav .nav-fixed ul.navigation-list li:nth-child(2).active {
            background-color: #7ea087; }
        nav .nav-fixed ul.navigation-list li:nth-child(3) {
          background-color: #80957e; }
          nav .nav-fixed ul.navigation-list li:nth-child(3):hover:not(:last-of-type) {
            background-color: #87a484; }
          nav .nav-fixed ul.navigation-list li:nth-child(3).active {
            background-color: #81a07e; }
        nav .nav-fixed ul.navigation-list li:nth-child(4) {
          background-color: #89957e; }
          nav .nav-fixed ul.navigation-list li:nth-child(4):hover:not(:last-of-type) {
            background-color: #93a484; }
          nav .nav-fixed ul.navigation-list li:nth-child(4).active {
            background-color: #8ea07e; }
        nav .nav-fixed ul.navigation-list li:nth-child(5) {
          background-color: #92957e; }
          nav .nav-fixed ul.navigation-list li:nth-child(5):hover:not(:last-of-type) {
            background-color: #9fa484; }
          nav .nav-fixed ul.navigation-list li:nth-child(5).active {
            background-color: #9aa07e; }
        nav .nav-fixed ul.navigation-list li:nth-child(6) {
          background-color: #95917e; }
          nav .nav-fixed ul.navigation-list li:nth-child(6):hover:not(:last-of-type) {
            background-color: #a49e84; }
          nav .nav-fixed ul.navigation-list li:nth-child(6).active {
            background-color: #a0997e; }
        nav .nav-fixed ul.navigation-list li:nth-child(7) {
          background-color: #92957e; }
          nav .nav-fixed ul.navigation-list li:nth-child(7):hover:not(:last-of-type) {
            background-color: #9fa484; }
          nav .nav-fixed ul.navigation-list li:nth-child(7).active {
            background-color: #9aa07e; }
        nav .nav-fixed ul.navigation-list li:nth-child(8) {
          background-color: #89957e; }
          nav .nav-fixed ul.navigation-list li:nth-child(8):hover:not(:last-of-type) {
            background-color: #93a484; }
          nav .nav-fixed ul.navigation-list li:nth-child(8).active {
            background-color: #8ea07e; }
        nav .nav-fixed ul.navigation-list li:nth-child(9) {
          background-color: #80957e; }
          nav .nav-fixed ul.navigation-list li:nth-child(9):hover:not(:last-of-type) {
            background-color: #87a484; }
          nav .nav-fixed ul.navigation-list li:nth-child(9).active {
            background-color: #81a07e; }
        nav .nav-fixed ul.navigation-list li a {
          text-decoration: none;
          color: #333;
          line-height: 1.5;
          font-weight: lighter;
          font-size: 1em; }
          nav .nav-fixed ul.navigation-list li a:hover {
            color: white;
            cursor: pointer;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out; }
      nav .nav-fixed ul.navigation-list li:last-of-type {
        margin: 1% 5% 0 5%; }
        @media screen and (max-width: 760px) {
          nav .nav-fixed ul.navigation-list li:last-of-type {
            position: absolute;
            z-index: 50;
            top: 0;
            right: 1%;
            padding: 0;
            margin: 0; } }
        nav .nav-fixed ul.navigation-list li:last-of-type div {
          width: 30%;
          display: inline-block;
          color: #333; }
          @media screen and (max-width: 760px) {
            nav .nav-fixed ul.navigation-list li:last-of-type div {
              width: auto; } }
        nav .nav-fixed ul.navigation-list li:last-of-type div:nth-child(1) {
          padding: 5% 0;
          cursor: pointer;
          background-color: #738c82;
          border-bottom: 2px solid #5c7068; }
          nav .nav-fixed ul.navigation-list li:last-of-type div:nth-child(1):hover {
            border-bottom: 2px solid #45544e; }
          nav .nav-fixed ul.navigation-list li:last-of-type div:nth-child(1).active {
            border-bottom: 2px solid #2d5340; }
        nav .nav-fixed ul.navigation-list li:last-of-type div:nth-child(2) {
          padding: 5% 0;
          cursor: pointer;
          background-color: #738c77;
          border-bottom: 2px solid #5c705f; }
          nav .nav-fixed ul.navigation-list li:last-of-type div:nth-child(2):hover {
            border-bottom: 2px solid #455447; }
          nav .nav-fixed ul.navigation-list li:last-of-type div:nth-child(2).active {
            border-bottom: 2px solid #2d532d; }
        nav .nav-fixed ul.navigation-list li:last-of-type div:nth-child(3) {
          padding: 5% 0;
          cursor: pointer;
          background-color: #798c73;
          border-bottom: 2px solid #61705c; }
          nav .nav-fixed ul.navigation-list li:last-of-type div:nth-child(3):hover {
            border-bottom: 2px solid #495445; }
          nav .nav-fixed ul.navigation-list li:last-of-type div:nth-child(3).active {
            border-bottom: 2px solid #40532d; }
        nav .nav-fixed ul.navigation-list li:last-of-type div:nth-child(4) {
          padding: 5% 0;
          cursor: pointer;
          background-color: #848c73;
          border-bottom: 2px solid #69705c; }
          nav .nav-fixed ul.navigation-list li:last-of-type div:nth-child(4):hover {
            border-bottom: 2px solid #4f5445; }
          nav .nav-fixed ul.navigation-list li:last-of-type div:nth-child(4).active {
            border-bottom: 2px solid #53532d; }
      nav .nav-fixed ul.navigation-list .icons {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center; }
        @media screen and (max-width: 760px) {
          nav .nav-fixed ul.navigation-list .icons {
            display: none; } }
        nav .nav-fixed ul.navigation-list .icons .bntu_st0, nav .nav-fixed ul.navigation-list .icons .youtube_st0, nav .nav-fixed ul.navigation-list .icons .youtube_st2 {
          fill: #2e3838; }
        nav .nav-fixed ul.navigation-list .icons svg {
          width: 47%;
          margin: 0;
          padding: 0; }
          nav .nav-fixed ul.navigation-list .icons svg:hover .bntu_st0, nav .nav-fixed ul.navigation-list .icons svg:hover .youtube_st0 {
            fill: #abbaba; }
          nav .nav-fixed ul.navigation-list .icons svg:hover .youtube_st1, nav .nav-fixed ul.navigation-list .icons svg:hover .bntu_st1 {
            fill: #253825; }
          nav .nav-fixed ul.navigation-list .icons svg:hover .youtube_st2 {
            fill: white; }
  nav a {
    text-decoration: none; }

article.main {
  position: relative;
  width: 70vw;
  background-color: rgba(177, 191, 191, 0.3); }
  article.main ul, article.main p {
    margin: 0.75em 0;
    padding: 0 1em; }
  @media screen and (max-width: 760px) {
    article.main {
      width: 100vw; } }
  @media screen and (min-width: 1800px) {
    article.main {
      width: 76vw; } }
  article.main .header {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD";
    /* padding: 2vh 0;*/
    height: 9vh;
    margin: 0;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 220%;
    color: white;
    background: -webkit-linear-gradient(left, #819890, #819898);
    background: linear-gradient(to right, #819890, #819898); }
    article.main .header p > span {
      font-style: italic; }
    @media screen and (min-width: 1800px) {
      article.main .header {
        font-size: 300%; } }
    @media screen and (max-width: 1100px) {
      article.main .header {
        font-size: 160%; } }
    @media screen and (max-width: 760px) {
      article.main .header {
        display: none; } }
  article.main .content {
    margin: 0;
    padding: 0;
    font-family: 'MyriadPro';
    font-size: 1em;
    text-indent: 1.1em;
    line-height: 2.1;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    background-color: #fff; }
    article.main .content .slider {
      padding: 0;
      z-index: 50;
      display: inline-block;
      height: 25vw;
      width: 70vw;
      text-indent: 0;
      overflow: hidden;
      position: relative;
      box-shadow: inset 0 7px 9px -9px rgba(0, 0, 0, 0.16), inset 0 -7px 9px -9px rgba(0, 0, 0, 0.16);
      /* #item_1:checked+div{*/
      /*   -webkit-animation: cycle1 25s linear infinite;*/
      /*         animation: cycle1 25s linear infinite;*/
      /*         -webkit-animation-play-state: paused;*/
      /*                 animation-play-state: paused;*/
      /* }*/
      /* #item_2:checked+div{*/
      /*   -webkit-animation: cycle2 25s linear infinite;*/
      /*         animation: cycle2 25s linear infinite;*/
      /*         -webkit-animation-play-state: paused;*/
      /*                 animation-play-state: paused;*/
      /* }*/
      /* #item_3:checked+div{*/
      /*   -webkit-animation: cycle3 25s linear infinite;*/
      /*         animation: cycle3 25s linear infinite;*/
      /*         -webkit-animation-play-state: paused;*/
      /*                 animation-play-state: paused;*/
      /* }*/
      /* #item_4:checked+div{*/
      /*   -webkit-animation: cycle4 25s linear infinite;*/
      /*         animation: cycle4 25s linear infinite;*/
      /*         -webkit-animation-play-state: paused;*/
      /*                 animation-play-state: paused;*/
      /* }*/
      /* #item_5:checked+div{*/
      /*   -webkit-animation: cycle5 25s linear infinite;*/
      /*         animation: cycle5 25s linear infinite;*/
      /*         -webkit-animation-play-state: paused;*/
      /*                 animation-play-state: paused;*/
      /* }*/ }
      @media screen and (max-width: 760px) {
        article.main .content .slider {
          width: 100vw;
          height: 35.7vw; } }
      @media screen and (min-width: 1800px) {
        article.main .content .slider {
          width: 76vw;
          height: 27.14vw; } }
      article.main .content .slider .slider_item:nth-child(2) {
        margin: 0;
        padding: 0;
        text-align: center;
        position: absolute;
        -webkit-animation: cycle1 25s linear infinite;
        animation: cycle1 25s linear infinite; }
        article.main .content .slider .slider_item:nth-child(2) img {
          height: 25vw;
          width: 70vw; }
          @media screen and (max-width: 760px) {
            article.main .content .slider .slider_item:nth-child(2) img {
              width: 100vw;
              height: 35.7vw; } }
          @media screen and (min-width: 1800px) {
            article.main .content .slider .slider_item:nth-child(2) img {
              width: 76vw;
              height: 27.14vw; } }
      article.main .content .slider .slider_item:nth-child(3) {
        margin: 0;
        padding: 0;
        text-align: center;
        position: absolute;
        -webkit-animation: cycle2 25s linear infinite;
        animation: cycle2 25s linear infinite; }
        article.main .content .slider .slider_item:nth-child(3) img {
          height: 25vw;
          width: 70vw; }
          @media screen and (max-width: 760px) {
            article.main .content .slider .slider_item:nth-child(3) img {
              width: 100vw;
              height: 35.7vw; } }
          @media screen and (min-width: 1800px) {
            article.main .content .slider .slider_item:nth-child(3) img {
              width: 76vw;
              height: 27.14vw; } }
      article.main .content .slider .slider_item:nth-child(4) {
        margin: 0;
        padding: 0;
        text-align: center;
        position: absolute;
        -webkit-animation: cycle3 25s linear infinite;
        animation: cycle3 25s linear infinite; }
        article.main .content .slider .slider_item:nth-child(4) img {
          height: 25vw;
          width: 70vw; }
          @media screen and (max-width: 760px) {
            article.main .content .slider .slider_item:nth-child(4) img {
              width: 100vw;
              height: 35.7vw; } }
          @media screen and (min-width: 1800px) {
            article.main .content .slider .slider_item:nth-child(4) img {
              width: 76vw;
              height: 27.14vw; } }
      article.main .content .slider .slider_item:nth-child(5) {
        margin: 0;
        padding: 0;
        text-align: center;
        position: absolute;
        -webkit-animation: cycle4 25s linear infinite;
        animation: cycle4 25s linear infinite; }
        article.main .content .slider .slider_item:nth-child(5) img {
          height: 25vw;
          width: 70vw; }
          @media screen and (max-width: 760px) {
            article.main .content .slider .slider_item:nth-child(5) img {
              width: 100vw;
              height: 35.7vw; } }
          @media screen and (min-width: 1800px) {
            article.main .content .slider .slider_item:nth-child(5) img {
              width: 76vw;
              height: 27.14vw; } }
      article.main .content .slider .slider_item:nth-child(6) {
        margin: 0;
        padding: 0;
        text-align: center;
        position: absolute;
        -webkit-animation: cycle5 25s linear infinite;
        animation: cycle5 25s linear infinite; }
        article.main .content .slider .slider_item:nth-child(6) img {
          height: 25vw;
          width: 70vw; }
          @media screen and (max-width: 760px) {
            article.main .content .slider .slider_item:nth-child(6) img {
              width: 100vw;
              height: 35.7vw; } }
          @media screen and (min-width: 1800px) {
            article.main .content .slider .slider_item:nth-child(6) img {
              width: 76vw;
              height: 27.14vw; } }
      article.main .content .slider input {
        display: none; }
      article.main .content .slider label {
        cursor: pointer; }
      article.main .content .slider .slider_info {
        margin: 0;
        height: 100%;
        padding: 1%;
        z-index: 51;
        position: absolute;
        font-style: italic;
        background-color: rgba(0, 0, 0, 0.6);
        overflow: hidden;
        /* background-color: $blueberry;*/
        /*rgba(lighten($apple-core, 1%), 0.7);*/ }
        @media screen and (max-width: 670px) {
          article.main .content .slider .slider_info {
            display: none; } }
        article.main .content .slider .slider_info:after {
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16); }
        article.main .content .slider .slider_info .invisible, article.main .content .slider .slider_info div:nth-child(1), article.main .content .slider .slider_info div:nth-child(2), article.main .content .slider .slider_info div:nth-child(3), article.main .content .slider .slider_info div:nth-child(4), article.main .content .slider .slider_info div:nth-child(5) {
          white-space: nowrap;
          margin-left: 5%;
          cursor: text;
          z-index: 50;
          font-size: 1em;
          /* color:darken($apple-core, 70%);*/
          color: #fff; }
        article.main .content .slider .slider_info .invisible {
          opacity: 0;
          visibility: hidden;
          white-space: nowrap; }
        article.main .content .slider .slider_info div:nth-child(1) {
          position: absolute;
          -webkit-animation: cycle1 25s linear infinite;
          animation: cycle1 25s linear infinite; }
        article.main .content .slider .slider_info div:nth-child(2) {
          position: absolute;
          -webkit-animation: cycle2 25s linear infinite;
          animation: cycle2 25s linear infinite; }
        article.main .content .slider .slider_info div:nth-child(3) {
          position: absolute;
          -webkit-animation: cycle3 25s linear infinite;
          animation: cycle3 25s linear infinite; }
        article.main .content .slider .slider_info div:nth-child(4) {
          position: absolute;
          -webkit-animation: cycle4 25s linear infinite;
          animation: cycle4 25s linear infinite; }
        article.main .content .slider .slider_info div:nth-child(5) {
          position: absolute;
          -webkit-animation: cycle5 25s linear infinite;
          animation: cycle5 25s linear infinite; }
      article.main .content .slider .slider_dots {
        position: absolute;
        bottom: 2%;
        width: 100%;
        text-align: center;
        line-height: 0.3;
        text-indent: 0; }
        article.main .content .slider .slider_dots div {
          z-index: 500; }
          article.main .content .slider .slider_dots div:hover {
            background: white; }
        article.main .content .slider .slider_dots div:nth-child(1) {
          position: relative;
          width: 7px;
          height: 7px;
          display: inline-block;
          margin: 0;
          border-radius: 50%;
          border: 1px solid rgba(255, 255, 255, 0.7);
          z-index: 500; }
          article.main .content .slider .slider_dots div:nth-child(1) span {
            position: relative;
            width: 7px;
            height: 7px;
            box-shadow: 0px -1px 10px 1px rgba(255, 255, 255, 0.7);
            display: inline-block;
            margin: 0;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.7);
            -webkit-animation: cycle1 25s linear infinite;
            animation: cycle1 25s linear infinite; }
        article.main .content .slider .slider_dots div:nth-child(2) {
          position: relative;
          width: 7px;
          height: 7px;
          display: inline-block;
          margin: 0;
          border-radius: 50%;
          border: 1px solid rgba(255, 255, 255, 0.7);
          z-index: 500; }
          article.main .content .slider .slider_dots div:nth-child(2) span {
            position: relative;
            width: 7px;
            height: 7px;
            box-shadow: 0px -1px 10px 1px rgba(255, 255, 255, 0.7);
            display: inline-block;
            margin: 0;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.7);
            -webkit-animation: cycle2 25s linear infinite;
            animation: cycle2 25s linear infinite; }
        article.main .content .slider .slider_dots div:nth-child(3) {
          position: relative;
          width: 7px;
          height: 7px;
          display: inline-block;
          margin: 0;
          border-radius: 50%;
          border: 1px solid rgba(255, 255, 255, 0.7);
          z-index: 500; }
          article.main .content .slider .slider_dots div:nth-child(3) span {
            position: relative;
            width: 7px;
            height: 7px;
            box-shadow: 0px -1px 10px 1px rgba(255, 255, 255, 0.7);
            display: inline-block;
            margin: 0;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.7);
            -webkit-animation: cycle3 25s linear infinite;
            animation: cycle3 25s linear infinite; }
        article.main .content .slider .slider_dots div:nth-child(4) {
          position: relative;
          width: 7px;
          height: 7px;
          display: inline-block;
          margin: 0;
          border-radius: 50%;
          border: 1px solid rgba(255, 255, 255, 0.7);
          z-index: 500; }
          article.main .content .slider .slider_dots div:nth-child(4) span {
            position: relative;
            width: 7px;
            height: 7px;
            box-shadow: 0px -1px 10px 1px rgba(255, 255, 255, 0.7);
            display: inline-block;
            margin: 0;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.7);
            -webkit-animation: cycle4 25s linear infinite;
            animation: cycle4 25s linear infinite; }
        article.main .content .slider .slider_dots div:nth-child(5) {
          position: relative;
          width: 7px;
          height: 7px;
          display: inline-block;
          margin: 0;
          border-radius: 50%;
          border: 1px solid rgba(255, 255, 255, 0.7);
          z-index: 500; }
          article.main .content .slider .slider_dots div:nth-child(5) span {
            position: relative;
            width: 7px;
            height: 7px;
            box-shadow: 0px -1px 10px 1px rgba(255, 255, 255, 0.7);
            display: inline-block;
            margin: 0;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.7);
            -webkit-animation: cycle5 25s linear infinite;
            animation: cycle5 25s linear infinite; }
      article.main .content .slider .sign {
        position: absolute;
        top: 50%;
        left: calc(50% - 15px);
        opacity: 0;
        z-index: 500;
        border-width: 0 10px 0 10px;
        border-style: solid;
        height: 40px;
        width: 10px;
        border-color: transparent white transparent white; }
        @media screen and (max-width: 760px) {
          article.main .content .slider .sign {
            top: 20%; } }
      article.main .content .slider #pause-play:checked ~ .slider_item,
      article.main .content .slider #pause-play:checked ~ .slider_info div,
      article.main .content .slider #pause-play:checked ~ .slider_dots div span {
        -webkit-animation-play-state: paused;
        animation-play-state: paused; }
      article.main .content .slider #pause-play:checked ~ .sign {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 25px 0 25px 30px;
        border-color: transparent transparent transparent white; }
      article.main .content .slider:hover .sign {
        opacity: 1;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s; }
    article.main .content .blocks_2 {
      padding: 0 2%;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      background-color: white;
      font-family: "Open Sans";
      /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); */ }
      @media screen and (max-width: 760px) {
        article.main .content .blocks_2 {
          padding: 0 3% 0 2%; } }
      article.main .content .blocks_2 .picture:nth-child(odd) {
        float: left;
        z-index: 500;
        width: 30%; }
      article.main .content .blocks_2 .picture:nth-child(even) {
        float: right;
        z-index: 500;
        width: 30%; }
      article.main .content .blocks_2 #evolution {
        float: left;
        z-index: 500;
        width: 40%; }
    article.main .content blockquote {
      border-top: 1px dashed #3a4646;
      border-bottom: 1px dashed #3a4646;
      padding: 1%;
      background-color: #516262;
      font-style: italic;
      float: right;
      text-align: left;
      width: 30%;
      font-family: Palatino, "Palatino Linotype", "Palatino LT STD";
      font-size: 1.2em;
      line-height: 2;
      color: #eaeff3;
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5); }
      @media screen and (max-width: 760px) {
        article.main .content blockquote {
          width: 80%;
          float: none;
          font-size: 1em; } }
      article.main .content blockquote p.author {
        color: #c0cfda;
        font-family: Palatino, "Palatino Linotype", "Palatino LT STD";
        font-size: 0.8em;
        font-weight: 300;
        line-height: 1;
        margin-top: 1%;
        text-align: right;
        text-transform: uppercase; }
        article.main .content blockquote p.author span {
          color: #adc9ad;
          font-family: Palatino, "Palatino Linotype", "Palatino LT STD";
          font-style: italic;
          font-weight: normal;
          letter-spacing: normal;
          text-transform: none; }
  article.main footer {
    background: #3a4646;
    margin-bottom: 0;
    width: 100%;
    padding: 3% 0 0 0;
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    top: 100%;
    vertical-align: bottom;
    bottom: 0;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5); }
    @media screen and (max-width: 940px) {
      article.main footer > p:last-child {
        margin: 2% 1% 0 1%;
        border-top: 1px solid #666; } }
    article.main footer p {
      color: #7faa7f;
      font-family: Palatino, "Palatino Linotype", "Palatino LT STD";
      font-size: 0.9em;
      line-height: 2;
      margin: 0 0 0 5%;
      width: 100%;
      padding: 0;
      text-transform: uppercase; }
      @media screen and (max-width: 940px) {
        article.main footer p {
          font-size: 0.6em;
          line-height: 1.9; } }
    article.main footer div.menu_footer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      width: 100%; }
      article.main footer div.menu_footer a[href^="tel:"] {
        margin-left: 1%;
        color: #629462;
        text-decoration: none; }
        article.main footer div.menu_footer a[href^="tel:"]:before {
          content: "\260e"; }
        @media screen and (max-width: 940px) {
          article.main footer div.menu_footer a[href^="tel:"] {
            font-size: 0.9em;
            line-height: 1.9;
            display: block;
            white-space: nowrap; } }
      article.main footer div.menu_footer a[href^="mailto"] {
        color: #567892;
        margin-left: 1%;
        text-decoration: none; }
      @media screen and (max-width: 940px) {
        article.main footer div.menu_footer div:nth-child(1) {
          margin-left: 2%; } }
      article.main footer div.menu_footer div:nth-child(2) p:nth-child(1) {
        color: #bfc6b9; }
      article.main footer div.menu_footer div:nth-child(2) p:nth-child(2) {
        color: #c6c6b9; }
      article.main footer div.menu_footer div:nth-child(2) p:nth-child(3) {
        color: #c6bfb9; }
      article.main footer div.menu_footer div:nth-child(2) p:nth-child(4) {
        color: #c6b9b9; }
      @media screen and (max-width: 940px) {
        article.main footer div.menu_footer div:nth-child(2) {
          margin-right: 3%; } }

aside {
  width: 15vw;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  /*you CAN'T specify height here it will override align-self*/
  min-height: 100vh;
  position: relative; }
  @media screen and (max-width: 760px) {
    aside {
      display: none; } }
  aside #dots_paralax, aside #lines_paralax {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    position: absolute;
    background: url("img/dots2-01.svg");
    background-repeat: repeat-y;
    background-size: 100% auto;
    background-position: 0% 0%; }
  aside #lines_paralax {
    background: url("img/dots_without_dots-01.svg");
    background-repeat: repeat-y;
    background-size: 100% auto; }
  @media screen and (min-width: 1800px) {
    aside {
      width: 12vw; } }

.tooltip {
  border-radius: .25em;
  position: absolute;
  border-top: 1px dashed #3a4646;
  border-bottom: 1px dashed #3a4646;
  padding: 1%;
  background-color: #516262;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD";
  font-size: 1.2em;
  line-height: 2;
  color: #eaeff3;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5); }
  .tooltip::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #516262;
    left: calc(50% - 10px);
    top: 100%; }

article.main .content .slider .slider_info:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

article.main .content .blocks_2 h1, .blocks_2 h2, .tag-group span {
  padding-top: 1%;
  font-size: 2em;
  margin-right: 2%;
  letter-spacing: 0.2em;
  color: #253825;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD";
  font-weight: 400;
  font-style: italic;
  line-height: 44px;
  margin: 0 1%;
  text-align: right; }

.occupation .right-occupation .date, .blocks_2 .authors, .blocks_2 .date-projects {
  font-size: 0.6em;
  line-height: 0.5;
  margin: 0;
  padding: 0;
  color: #5c7070; }

@-webkit-keyframes cycle1 {
  0% {
    left: 0px; }
  /* При запуске слайдера, первое изображение уже видимо */
  4% {
    left: 0px; }
  /* Стартовая позиция */
  16% {
    left: 0px;
    opacity: 1;
    z-index: 0; }
  /* С 4% до 16 % (3 секунды) изображение видимо */
  20% {
    left: 100%;
    opacity: 0;
    z-index: 0; }
  /* с 16% до 20% (1 секунды)выход изображения*/
  21% {
    left: -100%;
    opacity: 0;
    z-index: -1; }
  /* Возвращение на исходную позицию за пределами маски */
  92% {
    left: -100%;
    opacity: 0;
    z-index: 0; }
  96% {
    left: -100%;
    opacity: 0; }
  /* С 96% до 100% (1 секунда) – вход */
  100% {
    left: 0px;
    opacity: 1; } }
@keyframes cycle1 {
  0% {
    left: 0px; }
  /* При запуске слайдера, первое изображение уже видимо */
  4% {
    left: 0px; }
  /* Стартовая позиция */
  16% {
    left: 0px;
    opacity: 1;
    z-index: 0; }
  /* С 4% до 16 % (3 секунды) изображение видимо */
  20% {
    left: 100%;
    opacity: 0;
    z-index: 0; }
  /* с 16% до 20% (1 секунды)выход изображения*/
  21% {
    left: -100%;
    opacity: 0;
    z-index: -1; }
  /* Возвращение на исходную позицию за пределами маски */
  92% {
    left: -100%;
    opacity: 0;
    z-index: 0; }
  96% {
    left: -100%;
    opacity: 0; }
  /* С 96% до 100% (1 секунда) – вход */
  100% {
    left: 0px;
    opacity: 1; } }
@-webkit-keyframes cycle2 {
  0% {
    left: -100%;
    opacity: 0; }
  /* Исходная позиция за пределами маски */
  16% {
    left: -100%;
    opacity: 0; }
  /* Начало движения с 16% */
  20% {
    left: 0px;
    opacity: 1; }
  24% {
    left: 0px;
    opacity: 1; }
  /* С 20% до 24% (в течении 1 секунды) — вход*/
  36% {
    left: 0px;
    opacity: 1;
    z-index: 0; }
  /* С 24% до 36 % (3 секунды) изображение видимо */
  40% {
    left: 100%;
    opacity: 0;
    z-index: 0; }
  /* С 36% до 40% (1 секунда)— выход */
  41% {
    left: 100%;
    opacity: 0;
    z-index: -1; }
  /* Возврат на исходную позицию */
  100% {
    left: -100%;
    opacity: 0;
    z-index: -1; } }
@keyframes cycle2 {
  0% {
    left: -100%;
    opacity: 0; }
  /* Исходная позиция за пределами маски */
  16% {
    left: -100%;
    opacity: 0; }
  /* Начало движения с 16% */
  20% {
    left: 0px;
    opacity: 1; }
  24% {
    left: 0px;
    opacity: 1; }
  /* С 20% до 24% (в течении 1 секунды) — вход*/
  36% {
    left: 0px;
    opacity: 1;
    z-index: 0; }
  /* С 24% до 36 % (3 секунды) изображение видимо */
  40% {
    left: 100%;
    opacity: 0;
    z-index: 0; }
  /* С 36% до 40% (1 секунда)— выход */
  41% {
    left: 100%;
    opacity: 0;
    z-index: -1; }
  /* Возврат на исходную позицию */
  100% {
    left: -100%;
    opacity: 0;
    z-index: -1; } }
@-webkit-keyframes cycle3 {
  0% {
    left: -100%;
    opacity: 0; }
  36% {
    left: -100%;
    opacity: 0; }
  40% {
    left: 0px;
    opacity: 1; }
  44% {
    left: 0px;
    opacity: 1; }
  56% {
    left: 0px;
    opacity: 1; }
  60% {
    left: 100%;
    opacity: 0;
    z-index: 0; }
  61% {
    left: -100%;
    opacity: 0;
    z-index: -1; }
  100% {
    left: -100%;
    opacity: 0;
    z-index: -1; } }
@keyframes cycle3 {
  0% {
    left: -100%;
    opacity: 0; }
  36% {
    left: -100%;
    opacity: 0; }
  40% {
    left: 0px;
    opacity: 1; }
  44% {
    left: 0px;
    opacity: 1; }
  56% {
    left: 0px;
    opacity: 1; }
  60% {
    left: 100%;
    opacity: 0;
    z-index: 0; }
  61% {
    left: -100%;
    opacity: 0;
    z-index: -1; }
  100% {
    left: -100%;
    opacity: 0;
    z-index: -1; } }
@-webkit-keyframes cycle4 {
  0% {
    left: -100%;
    opacity: 0; }
  56% {
    left: -100%;
    opacity: 0; }
  60% {
    left: 0px;
    opacity: 1; }
  64% {
    left: 0px;
    opacity: 1; }
  76% {
    left: 0px;
    opacity: 1;
    z-index: 0; }
  80% {
    left: 100%;
    opacity: 0;
    z-index: 0; }
  81% {
    left: -100%;
    opacity: 0;
    z-index: -1; }
  100% {
    left: -100%;
    opacity: 0;
    z-index: -1; } }
@keyframes cycle4 {
  0% {
    left: -100%;
    opacity: 0; }
  56% {
    left: -100%;
    opacity: 0; }
  60% {
    left: 0px;
    opacity: 1; }
  64% {
    left: 0px;
    opacity: 1; }
  76% {
    left: 0px;
    opacity: 1;
    z-index: 0; }
  80% {
    left: 100%;
    opacity: 0;
    z-index: 0; }
  81% {
    left: -100%;
    opacity: 0;
    z-index: -1; }
  100% {
    left: -100%;
    opacity: 0;
    z-index: -1; } }
@-webkit-keyframes cycle5 {
  0% {
    left: -100%;
    opacity: 0; }
  76% {
    left: -100%;
    opacity: 0; }
  80% {
    left: 0px;
    opacity: 1; }
  84% {
    left: 0px;
    opacity: 1; }
  96% {
    left: 0px;
    opacity: 1;
    z-index: 0; }
  100% {
    left: 100%;
    opacity: 0;
    z-index: 0; } }
@keyframes cycle5 {
  0% {
    left: -100%;
    opacity: 0; }
  76% {
    left: -100%;
    opacity: 0; }
  80% {
    left: 0px;
    opacity: 1; }
  84% {
    left: 0px;
    opacity: 1; }
  96% {
    left: 0px;
    opacity: 1;
    z-index: 0; }
  100% {
    left: 100%;
    opacity: 0;
    z-index: 0; } }
/*menu*/
.menu {
  margin: 0.2em 0;
  display: block;
  width: 100%;
  -webkit-transition: margin 600ms;
  transition: margin 600ms;
  cursor: pointer; }
  .menu .bar {
    display: block;
    height: 0.2em;
    margin: 0.6em;
    border-right: 2.8em solid #fff;
    box-sizing: border-box;
    -webkit-transition-property: -webkit-transform, margin, border-right-color, box-shadow;
    -webkit-transition-property: margin, border-right-color, box-shadow, -webkit-transform;
    transition-property: margin, border-right-color, box-shadow, -webkit-transform;
    transition-property: transform, margin, border-right-color, box-shadow;
    transition-property: transform, margin, border-right-color, box-shadow, -webkit-transform;
    -webkit-transition-duration: 600ms;
    transition-duration: 600ms; }
  .menu .bar:nth-of-type(1) {
    -webkit-transition: opacity 300ms;
    transition: opacity 300ms; }

.pushed {
  margin: -0.8em 0; }
  .pushed .bar:nth-of-type(1) {
    opacity: 0; }
  .pushed .bar:nth-of-type(2) {
    margin-left: 1.8em;
    -webkit-transform: rotate(-137deg) translateY(-1.5em);
    transform: rotate(-137deg) translateY(-1.5em); }
  .pushed .bar:nth-of-type(3) {
    margin-top: 0.95em;
    -webkit-transform: rotate(-42deg);
    transform: rotate(-42deg); }

#list-animation li {
  padding: 1.5% 0;
  height: auto;
  visibility: visible;
  opacity: 1;
  transition-property: all;
  transition-duration: 600ms; }
#list-animation li:last-of-type {
  margin: 1.5% 3% 0 0; }

.line {
  border: 1px solid #8fa3a3;
  padding: 0.1%;
  margin: 0;
  background: #abbab5; }

.pagination {
  -ms-grid-row-align: center;
  -ms-flex-item-align: center;
  align-self: center;
  margin: 1.5% 0; }
  .pagination a {
    text-decoration: none;
    margin: 0;
    display: inline-block;
    cursor: pointer;
    color: #171c1c;
    border: 1px solid #8fa3a3;
    padding: 6px 13px;
    text-indent: 0;
    text-decoration: none; }
    @media screen and (max-width: 760px) {
      .pagination a {
        padding: 6px 18px; } }
    .pagination a.active {
      background: #abbaba; }
    .pagination a:hover {
      background: #abbaba; }
    .pagination a:active {
      position: relative;
      top: 1px; }

.occupation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
  border-bottom: 2px solid #b6c9c2; }
  @media screen and (max-width: 760px) {
    .occupation {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      border-bottom: none; } }
  .occupation .left-occupation {
    font-style: italic;
    font-family: "Open Sans";
    font-size: 1.3em;
    color: #5c7070;
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    border-right: 1px solid #8fa3a3; }
    @media screen and (max-width: 760px) {
      .occupation .left-occupation {
        border-right: none; } }
    @media screen and (max-width: 760px) {
      .occupation .left-occupation p {
        font-size: 1.4em;
        margin: 0;
        padding: 0; } }
  .occupation .right-occupation {
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%;
    font-family: "Open Sans";
    font-size: 1.1em; }
    .occupation .right-occupation .college {
      margin-bottom: 0;
      padding-bottom: 0; }
    .occupation .right-occupation .college-info {
      font-size: 0.8em;
      font-style: italic; }
      .occupation .right-occupation .college-info:not(:last-child) {
        border-bottom: 1px dashed #9dafaf; }
      @media screen and (max-width: 760px) {
        .occupation .right-occupation .college-info:last-child {
          border-bottom: 1px dashed #9dafaf; } }

.blocks_3 {
  border-top: 3px solid rgba(177, 191, 191, 0.3); }

.blocks_2 h2 {
  font-size: 1.5em; }
.blocks_2 .authors {
  float: right; }
.blocks_2 .date-projects {
  font-size: 1em;
  float: right; }
.blocks_2 .tag-in-h {
  text-indent: 0;
  text-decoration: underline;
  display: inline-block;
  font-size: 0.5em;
  font-style: normal;
  letter-spacing: 0;
  color: #253825; }

.tag-group {
  margin: 0 1%;
  width: 100%; }
  .tag-group input[type="checkbox"] {
    display: none; }
  .tag-group span {
    font-size: 1em; }
  .tag-group .tag:nth-child(1) {
    background-color: #7e958d; }
    .tag-group .tag:nth-child(1):after {
      border-left: 10px solid #7e958d; }
    .tag-group .tag:nth-child(1):hover {
      background-color: #9dafa6; }
    .tag-group .tag:nth-child(1):hover::after {
      border-left-color: #9dafa6; }
  .tag-group .tag:nth-child(2) {
    background-color: #7e9584; }
    .tag-group .tag:nth-child(2):after {
      border-left: 10px solid #7e9584; }
    .tag-group .tag:nth-child(2):hover {
      background-color: #9daf9d; }
    .tag-group .tag:nth-child(2):hover::after {
      border-left-color: #9daf9d; }
  .tag-group .tag:nth-child(3) {
    background-color: #80957e; }
    .tag-group .tag:nth-child(3):after {
      border-left: 10px solid #80957e; }
    .tag-group .tag:nth-child(3):hover {
      background-color: #a6af9d; }
    .tag-group .tag:nth-child(3):hover::after {
      border-left-color: #a6af9d; }
  .tag-group .tag:nth-child(4) {
    background-color: #89957e; }
    .tag-group .tag:nth-child(4):after {
      border-left: 10px solid #89957e; }
    .tag-group .tag:nth-child(4):hover {
      background-color: #afaf9d; }
    .tag-group .tag:nth-child(4):hover::after {
      border-left-color: #afaf9d; }
  .tag-group .tag:nth-child(5) {
    background-color: #92957e; }
    .tag-group .tag:nth-child(5):after {
      border-left: 10px solid #92957e; }
    .tag-group .tag:nth-child(5):hover {
      background-color: #afa69d; }
    .tag-group .tag:nth-child(5):hover::after {
      border-left-color: #afa69d; }
  .tag-group .tag:nth-child(6) {
    background-color: #95917e; }
    .tag-group .tag:nth-child(6):after {
      border-left: 10px solid #95917e; }
    .tag-group .tag:nth-child(6):hover {
      background-color: #af9d9d; }
    .tag-group .tag:nth-child(6):hover::after {
      border-left-color: #af9d9d; }
  .tag-group .tag:nth-child(7) {
    background-color: #95887e; }
    .tag-group .tag:nth-child(7):after {
      border-left: 10px solid #95887e; }
    .tag-group .tag:nth-child(7):hover {
      background-color: #af9da6; }
    .tag-group .tag:nth-child(7):hover::after {
      border-left-color: #af9da6; }
  .tag-group .tag:nth-child(8) {
    background-color: #95807e; }
    .tag-group .tag:nth-child(8):after {
      border-left: 10px solid #95807e; }
    .tag-group .tag:nth-child(8):hover {
      background-color: #af9daf; }
    .tag-group .tag:nth-child(8):hover::after {
      border-left-color: #af9daf; }
  .tag-group .tag:nth-child(9) {
    background-color: #957e85; }
    .tag-group .tag:nth-child(9):after {
      border-left: 10px solid #957e85; }
    .tag-group .tag:nth-child(9):hover {
      background-color: #a69daf; }
    .tag-group .tag:nth-child(9):hover::after {
      border-left-color: #a69daf; }
  .tag-group .tag-active:before {
    background: #253825 !important; }
  .tag-group button {
    -webkit-font-smoothing: antialiased;
    position: relative;
    color: #fff;
    line-height: 1em;
    font-size: 1em;
    font-family: "MyriadPro";
    display: inline-block;
    height: 26px;
    padding: 0 20px 0 23px;
    padding-right: 4.7em;
    background-color: #73808c;
    border: none;
    -webkit-transition: .2s;
    transition: .2s; }
    .tag-group button:before, .tag-group button:after {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      padding-top: inherit;
      padding-bottom: inherit;
      width: 1.5em;
      content: "\2191";
      line-height: 1em;
      font-size: 1.5em;
      text-align: center;
      -webkit-transition: .2s;
      transition: .2s;
      -webkit-transform-origin: 50% 60%;
      transform-origin: 50% 60%; }
    .tag-group button:before {
      background-color: #73808c; }
    .tag-group button:focus {
      outline: 0 !important; }
    .tag-group button:active {
      -webkit-transition: all .2s;
      transition: all .2s; }
    .tag-group button:hover {
      background-color: #818c98;
      -webkit-transition: all .2s;
      transition: all .2s; }
      .tag-group button:hover:after {
        background-color: #818c98; }
    .tag-group button.active {
      background-color: #6c7884; }
      .tag-group button.active:focus {
        outline: 0 !important; }
      .tag-group button.active:before, .tag-group button.active:after {
        background-color: #6c7884;
        content: "\2193"; }
      .tag-group button.active:active {
        -webkit-transition: all .2s;
        transition: all .2s; }
      .tag-group button.active:hover {
        background-color: #818c98;
        -webkit-transition: all .2s;
        transition: all .2s; }
        .tag-group button.active:hover:after {
          background-color: #818c98; }

.tag-group .tag {
  border-radius: 3px 0 0 3px;
  color: #333;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 10px 1% 1% 0;
  text-decoration: none; }
  .tag-group .tag:before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px; }
  .tag-group .tag:after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0; }

.blocks_2 .read-more a {
  border: 1px solid black;
  padding: 3px 2%;
  text-decoration: none;
  color: #253825;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD";
  font-weight: 400;
  font-style: italic; }
  .blocks_2 .read-more a:hover {
    background-color: #bfc6b9; }

/*# sourceMappingURL=style.css.map */
